@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@font-face {
font-family: "Banny"; 
src: url("../fonts/Banny-BoldRound.otf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	background-color: #FFFF99;
}

.header {
	width: 1440px;
	background-image: url(../img/header-bg.png);
	background-size: cover;
	height: 800px;
}
.header__top {}
.top-header {
	margin-bottom: 145px;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
}
.top-header__content{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.menu {
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	display: flex;
}


.menu__item a{
	text-decoration: none;
	color: #fff;
}
.menu__item {
	list-style-type: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;
	padding:43px;
	margin: 1px;
}
.menu__item a:hover{
	color: #E8C300;
	transition: .2s;
}
.logo {
	margin: 25px 35px 0;
}
.navigation {

}
.header__main {

}
.main-header {
	color: #fff;

}
.main-header__content {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.main-header__aside {	
	flex-grow: 1;
	/*transform: rotate(-90deg);*/
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;
}
.title {
	flex-grow: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 2;
	justify-content: center;
}
.title__over {

}
.title__main {

}
.psevdoline {

}
.title__buttons {

}
.button {

}
.main-header__contacts {

}
.contacts {
	flex-grow: 1;
}
.contacts__item {

}


